do_token             = "your_do_token_here"
cloudflare_api_token = "your_cf_token_here"
cloudflare_zone_id   = "your_zone_id_here"
region               = "nyc1"
ssh_fingerprints     = ["xx:xx:xx..."]
cms_subdomain        = "cms"
